@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Staatliches&display=swap");

:root {
  /* Colors */
  --light-blue: #9dcdc0;
  --red: #f74a24;
  --green: #7f9438;
  --yellow: #fed766;
  --orange: #d95d4a;
  --white: #ffffff;
  --black: #000000;
  /* Fontsizes */
  --step--2: clamp(0.78rem, calc(0.46rem + 1.63vw), 1.92rem);
  --step--1: clamp(0.94rem, calc(0.52rem + 2.09vw), 2.4rem);
  --step-0: clamp(1.13rem, calc(0.59rem + 2.68vw), 3rem);
  --step-1: clamp(1.35rem, calc(0.66rem + 3.43vw), 3.75rem);
  --step-2: clamp(1.62rem, calc(0.74rem + 4.38vw), 4.69rem);
  --step-3: clamp(1.94rem, calc(0.83rem + 5.59vw), 5.86rem);
  --step-4: clamp(2.33rem, calc(0.91rem + 7.13vw), 7.32rem);
  --step-5: clamp(2.8rem, calc(0.98rem + 9.08vw), 9.15rem);
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Staatliches", "Poppins";
  letter-spacing: 2px;
}
p,
span,
label,
a,
button,
input,
li,
table,
td,
th {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
label {
  display: block;
}
table {
  border-collapse: collapse;
}
img,
svg,
picture {
  display: block;
  width: 100%;
}
/* Errors Message Block */
.errors{

  margin-bottom: 2rem;
  padding: 1rem;
  background-color: hsl(1, 100%, 65%);
  border-radius: 3px;
}
.error-heading{
  font-size: clamp(18px,22px,24px);
}
/* Session Message */
.message{
  background-color: var(--light-blue);
  color: var(--black);
  font-size: clamp(18px, 20px, 22px);
  padding: 1rem;
  border-radius: 3px;
  margin-bottom: 2rem;
}
/* Welcome Message */
.welcome-message{
  margin-bottom: 2rem;
  background-color: var(--light-blue);
  padding: 1rem;
  border-radius: 3px;
  color: var(--black);
  font-size: clamp(18px,20px,22px);
  text-transform: capitalize;
}
/* Utility Classes */
.dark-bg {
  background-color: #242423;
  color: var(--white) !important;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
/* header */

nav {
  padding: 1rem 0;
  border-bottom: 2px solid var(--black);
}
.brand {
  color: var(--black);
  font-size: var(--step-1);
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Staatliches", "Poppins" !important;
  /* text-align: center; */
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
.search-form {
  display: flex;
  gap: 1rem;
}
#search {
  display: block;
  padding: 0.4rem 2rem;
  outline: none;
  border: 1px solid transparent;
  background-color: hsl(0, 0%, 90%);
  border-radius: 3px;
  font-size: 1rem;
}
.cta-btns {
  display: flex;
  gap: 1rem;
}
.signup-btn, .dashboard-btn {
  background-color: var(--black);
  padding: 8px 16px;
  color: var(--white);
}
.login-btn {
  padding: 8px 16px;
  color: var(--black);
}
/* main */
main {
  min-height: 100vh;
}
/* Post container */
.posts-container {
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  border-bottom: 2px solid var(--black);
}
.post:nth-child(odd) {
  background-color: var(--green);
}
.post:nth-child(even) {
  background-color: var(--orange);
}
.post {
  border: 2px solid var(--black);
  border-radius: 5px;
}
.post:hover {
  box-shadow: 3px 3px;
  transition: all ease-in-out;
}
.post-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.post-details {
  padding: 1rem 1.5rem;
}
.post-date {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.post-title {
  margin-bottom: 1rem;
  text-wrap: balance;
  font-size: var(--step--1);
}
.post-excerpt {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.readmore-btn {
  color: black;
  font-weight: 500;
}
/* login page */
.login {
  width: min(700px, 95%);
  margin-inline: auto;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}
.login-brand {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  font-size: var(--step-1);
  font-family: "Staatliches", "Poppins" !important;
}
.form-group {
  margin: 1rem 0;
}
.form-group label {
  margin-bottom: 0.5rem;
}
.form-group input {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--black);
  outline: none;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1.2rem;
  border-radius: 3px;
}
.form-group input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.6rem;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}
/* View Post Page */
#aritcle-image {
  height: 350px;
  object-fit: cover;
  border-bottom: 2px solid var(--black);
}
.article-details {
  width: min(900px, 95%);
  margin-inline: auto;
  border-bottom: 2px solid var(--black);
}
.article-title {
  font-size: var(--step-2);
  margin: 1rem 0;
  text-wrap: balance;
}
.article-excerpt {
  font-size: 20px;
  margin: 1rem 0 3rem 0;
}
.separator {
  margin-bottom: 4rem;
}
.article-description {
  font-size: 18px;
  margin: 2rem 0;
}
/* Create / New Post */
.create-post-header {
  border-bottom: 2px solid var(--white);
}
.create-post-header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(900px, 95%);
  margin: 2rem auto;
}
.create-post-header section a {
  color: var(--white);
  padding: 5px 16px;
  border: 1px solid var(--white);
  border-radius: 3px;
}
.create-post-form {
  width: min(900px, 95%);
  margin: 2rem auto;
}
.create-post-form input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--black);
  outline: none;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1.2rem;
  border-radius: 3px;
  margin: 1rem 0;
}
.create-post-form input[type="file"] {
  display: block;
  margin: 1rem 0;
}
.create-post-form textarea {
  display: block;
  margin: 1rem 0;
  width: 100%;
}
.create-post-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.6rem;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  font-size: clamp(16px, 18px, 20px);
  margin: 1rem 0;
}
/* User Dashboard */
.dashboard-header {
  border-bottom: 2px solid var(--white);
  margin-bottom: 3rem;
}
.dashboard-header nav {
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(900px, 95%);
  margin: 0 auto;
}
.home-btn {
  border: 1px solid var(--white);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 2px;
}
.create-post-btn {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 20px;
  border-radius: 2px;
}
.dashboard-title {
  font-size: var(--step-1);
  letter-spacing: 2px;
  text-wrap: balance;
}
.dashboard-navbar .login-btn {
  color: hsl(0, 0%, 90%);
}
.dashboard-content {
  width: min(900px, 95%);
  margin: 0 auto;
}
.recent-title {
  margin-top: 1rem;
}
.recent-post-table {
  width: 100%;
  text-align: left;
  border-radius: 5px;
  margin-top: 1rem;
}
.recent-post-table th {
  font-size: clamp(20px, 24px, 30px);
  padding: 5px 10px;
  background-color: var(--black);
}
.recent-post-table td {
  padding: 10px;
  font-size: clamp(18px, 22px, 26px);
  background-color: var(--black);
}
.view-btn,
.edit-btn,
.delete-btn {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: clamp(16px, 18px, 20px);
}
.view-btn {
  background-color: var(--light-blue);
  color: black;
}
.edit-btn {
  background-color: var(--green);
  color: var(--black);
}
.delete-btn {
  background-color: var(--red);
  color: var(--white);
}
/* Confirm Delete */
.delete-container {
  width: min(600px, 95%);
  margin-inline: auto;
  margin-top: 14rem;
  border: 2px solid var(--white);
  /* padding: 0 1rem 2rem 1rem; */
}
.delete-warning {
  background-color: var(--red);
  padding: 0.5rem;
  color: black;
  font-weight: 500;
  font-size: clamp(16px, 20px, 22px);
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--white);
}
.delete-post-title {
  margin-bottom: 2rem;
  font-size: clamp(22px, 26px, 32px);
  word-wrap: break-word;
  padding: 0 0.5rem;
}
.delete-actions {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0.5rem 1rem auto;
}
.cancel-delete-btn {
  color: var(--white);
  border: 1px solid var(--white);
  padding: 5px 15px;
  border-radius: 5px;
}

/* footer */
footer {
  text-align: center;
  padding: 1rem 0;
}
@media only screen and (max-width: 1024px) {
  /* posts container */
  .posts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0 1rem;
  }
  #search {
    padding: 0.4rem 0.5rem;
    font-size: 14px;
  }
  .cta-btns {
    gap: 0.5rem;
  }
  .login-btn,
  .signup-btn {
    font-size: 14px;
  }
  /* posts container */
  .posts-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
